<img class="logo" src="assets/images/logo.svg" />
<div class="container">
  <div id="login">
    <h1>This is an example of the Authorization Code flow</h1>
    <a href="/login" class="btn btn-primary">Log in with Spotify</a>
  </div>
  <div id="loggedin">
    <div id="user-profile">
    </div>
    <div id="oauth">
    </div>
    <!-- <button class="btn btn-default" id="obtain-new-token">Obtain new token using the refresh token</button> -->

    <!-- <div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> All time
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2" autocomplete="off"> 6 Months
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option3" autocomplete="off"> Recent
  </label>
</div> -->

<div id="topTracks">
</div>

<div id="testTemplate">
</div>

</div>
</div>



<script id="user-profile-template" type="text/x-handlebars-template">
<h1>Logged in as {{display_name}}</h1>
<div class="media">
<div class="pull-left">
  <img class="media-object" width="150" src="{{images.0.url}}" />
</div>
<div class="media-body">
  <dl class="dl-horizontal">
    <dt>Display name</dt><dd class="clearfix">{{display_name}}</dd>
    <dt>Id</dt><dd>{{id}}</dd>
    <dt>Email</dt><dd>{{email}}</dd>
    <dt>Spotify URI</dt><dd><a href="{{external_urls.spotify}}">{{external_urls.spotify}}</a></dd>
    <dt>Link</dt><dd><a href="{{href}}">{{href}}</a></dd>
    <dt>Profile Image</dt><dd class="clearfix"><a href="{{images.0.url}}">{{images.0.url}}</a></dd>
    <dt>Country</dt><dd>{{country}}</dd>
  </dl>
</div>
</div>
</script>

<script id="oauth-template" type="text/x-handlebars-template">
<h2>oAuth info</h2>
<dl class="dl-horizontal">
<dt>Access token</dt><dd class="text-overflow">{{access_token}}</dd>
<dt>Refresh token</dt><dd class="text-overflow">{{refresh_token}}</dd>
</dl>
</script>

<script id="test-template" type="text/x-handlebars-template">
  <h1>test template</h1>
  <h2>{{items.0.name}}</h2>
</script>

<script id="top-tracks-template" type="text/x-handlebars-template">
<h2>Top tracks</h2><a href="/login" class="btn btn-primary">Artists</a><a href="/login" class="btn btn-primary">Tracks</a><br />
<a href="/login" class="btn btn-primary">All time</a><a href="/login" class="btn btn-primary">6 months</a><a href="/login" class="btn btn-primary">Recent</a>
<dl class="dl-horizontal">
<dt>total</dt><dd class="text-overflow">{{total}}</dd>
<dt>#1</dt><dd class="text-overflow">{{items.0.name}}</dd>
</dl>
<hr />
{{#each items}}
<ul>
  <li><span class="track-name">{{this.name}}</span> {{#each this.artists}} <span class="artist-name">{{this.name}}</span> {{/each}} <img class="album-artwork" src="{{this.album.images.0.url}}" /></li>
</ul>
{{/each}}

</script>
